.iconSideBar {
  width: 100%;
  height: 13%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  color: #9f9f9e;
  font-weight: 500;
  transition: transform 0.5s ease;
}

.iconSideBar:hover {
  transform: scale(1.1);
}

.iconseSideBarSelected {
  background-color: #fff2e8;
  border: 1px solid var(--primary-orange);
  color: var(--primary-orange);
  border-radius: 8px;
}
