:root {
  --primary-orange: #fc8019;
  --secondary-orange: #f5a15c;
  --primary-separator: #f5f5f5;
  --light-gray: #e2e2e2ac;
  --primary-faded: #9f9f9f;
  --secondary-faded: #cdcdcd;
  --primary-white: #ffff;
  --primary-black: #171826;
  --primary-green: #09aa29;
}
