.header {
  width: 100%;
  height: 14vh;
  padding: 0.5rem 2rem;
  box-shadow: 1px 1px 1px 1px rgba(0, 0, 0, 0.1), 0 0px 2px 0 rgba(0, 0, 0, 0.18);
  background-color: var(--primary-white);
  display: grid;
  grid-template-columns: 2fr 3fr 2fr;
}

.headerTitle {
  display: flex;
  flex-direction: column;
  width: 75%;
}

.addButton {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  & button {
    width: 70%;
    height: 50%;
  }
}

.acoes {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
  gap: 3px;
}

.filterOptions {
  display: flex;
  gap: 0.8rem;
  cursor: pointer;
  & label {
    cursor: pointer;
    color: var(--primary-faded);
  }
  & input {
    margin-right: 0.2rem;
  }
}

h3 {
  color: var(--primary-orange);
}
