.container {
  height: 100vh;
  width: 7vw;
  background-color: var(--primary-white);
  display: flex;
  flex-direction: column;
  box-shadow: 0 1px 8px 0 rgba(0, 0, 0, 0.22), 0 1px 10px 0 rgba(0, 0, 0, 0.18);
  padding: 0 10px;
}

.iconsContainer {
  height: 70%;
  width: 100%;
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  text-align: center;
  font-size: 0.75rem;
}

.logoutIcon {
  width: 5%;
  height: 8%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  align-items: center;
  justify-content: center;
  position: absolute;
  bottom: 10px;
  cursor: pointer;
  color: var(--primary-faded);
  font-weight: 500;
  font-size: 0.75rem;
}

.logoutIcon:hover {
  transform: scale(1.1);
}
