.header {
  width: 100%;
  height: 100%;
  padding: 0.5rem 2rem;
  box-shadow: 1px 1px 1px 1px rgba(0, 0, 0, 0.1), 0 0px 2px 0 rgba(0, 0, 0, 0.18);
  background-color: var(--primary-white);
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 60% 30%;
}

.inputSearch {
  grid-column: 3;
}

.titleArea > h1 {
  font-size: 1.5rem;
  font-weight: 500;
  color: var(--primary-black);
}
.titleArea > p {
  font-size: 0.85rem;
  color: var(--primary-faded);
}

.navBar {
  grid-column: 1 / span 3;
  grid-row: 2;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  width: 100%;
  height: 100%;
}

@media only screen and (max-width: 1600px) {
  .navBar {
    margin: 0.3rem 0;
  }
  .header {
    grid-template-rows: 60% 40%;
  }
}
