.navbar {
  display: flex;
  justify-content: center;
  align-self: center;
  align-items: baseline;
  width: 60%;
  min-width: 650px;
  position: relative;
}

@media only screen and (min-width: 1380px) {
  .navbar {
    width: 10%;
  }
}
