.navbarItem,
.navbarItemSelected {
  text-align: center;
  display: flex;
  color: var(--primary-faded);
  white-space: inherit;
  align-items: center;
  justify-content: center;
  font-weight: 600;
  padding: 0.3rem;
  cursor: pointer;
  min-width: 120px;
}
.navbarItemSelected {
  background-color: #fff2e8;
  border: 1px solid var(--primary-orange);
  color: var(--primary-orange);
  border-radius: 5px;
}

.navbarItem:hover {
  border-bottom: 2px solid var(--primary-orange);
  border-radius: 5px;
  transition: border-color 0.3s ease;
}
