.container {
  display: flex;
  align-items: center;
  justify-content: space-around;
  font-family: Arial, sans-serif;
  position: relative;
}

.label {
  font-size: 1.1rem;
  font-weight: 900;
  text-align: center;
  min-width: 6.3rem;
  border-radius: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 33px;
  border: 1px solid var(--secondary-faded);
  background-color: var(--secondary-faded);
  color: var(--primary-white);
  z-index: 0;
}

.buttonBase {
  width: 32px;
  height: 32px;
  border: none;
  border-radius: 50%;
  font-size: 1.1rem;
  font-weight: 900;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: background-color 0.3s;
  border: 1px solid var(--secondary-faded);
  position: absolute;
  z-index: 1;
}

.buttonDecrement {
  background-color: var(--primary-white);
  border: 1px solid var(--primary-faded);
  color: var(--primary-black);
  left: 0;
}

.buttonDecrement:hover {
  background-color: var(--secondary-faded);
  color: var(--primary-white);
}

.buttonIncrement {
  background-color: var(--primary-orange);
  color: var(--primary-white);
  right: 0;
}

.buttonIncrement:hover {
  background-color: var(--secondary-orange);
}
